# Bot token.
# Example: token="MTI5sYExDvhjJK5YxNjA0NDY5NQ.GvsdD5.7taYXjy1zVKDOxAIMc1pX2d_wt86SmCjWi9se556"
token=""

# Choose one type for save users and guilds data. Types: "mysql" | "sql" | "mongodb" | "json" 
# Example: database_type="json"
database_type=""

# If you choose "mongodb" type place your mongo url.
# Example: database_mongoURL="mongodb+srv://test:123456789@cluster0.b6grdg6.mongodb.net/?retryWrites=true&w=majority"
database_mongoURL=""

# If you choose "mysql" type place your Mysql server host name.
# Example: database_msql_host="test"
database_msql_host=""

# If you choose "mysql" type place your Mysql server username.
# Example: database_msql_user="test123"
database_msql_user=""

# If you choose "mysql" type place your Mysql server password.
# Example: database_msql_password="123456789"
database_msql_password=""

# If you choose "mysql" type place your Mysql server database name.
# Example: database_msql_database="database"
database_msql_database=""

# Support server invite link.
# Example: support_url="https://discord.gg/AfkuXgCKAQ"
support_url=""

# Source owners.
# Example: owners="["546464654564565", "88864545646467878"]"
owners=""

# Source anti crash controller.
# Example: anti_crash=true
anti_crash=""

# Send console erros to discord.
# Example: logger=true
logger=""